:root {
    --font-normal: 14px;
    --font-md: 18px;
    --font-lg: 24px;
    --font-xl: 48px;

    --font-semibold: 600;
    --font-bold: 900;

    --font-family: 'Quicksand';

    --default-spacing: 16px;
    --default-border-radius: 24px;

    --base-element-size: 200px;

    --white: #fff;

    --gray-50: #f8f7fb;
    --gray-700: #525255;

    --violet-100: #dcd8fc;
    --violet-800: #7855bc;
}

html {
    --background-color: var(--gray-50);
    --on-main-background-color: var(--gray-700);
    --accent-background-color: var(--violet-100);
    --on-accent-text-color: var(--violet-800);
    --active-border-color: var(--violet-100);
}

html.dark-mode {
    --background-color: var(--gray-700);
}
