@use '../../../styles/mixins.scss';

.post-grid__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    margin: auto;
    padding: calc(var(--default-spacing) * 1.5) var(--default-spacing);
}

.post-grid__header {
    display: flex;
    align-items: center;
    gap: var(--default-spacing);
    margin-bottom: calc(var(--default-spacing) * 1.5);
    padding: calc(var(--default-spacing) * 1.5);
    border-radius: var(--default-border-radius);
    background-color: var(--white);

    @include mixins.box-shadow;
}

.post-grid__title {
    flex: 1;
    font-size: var(--font-lg);
    font-weight: var(--font-semibold);
    border-radius: var(--default-border-radius);
}

.post-grid__active-id {
    width: calc(var(--base-element-size) * 0.5);
    font-size: var(--font-xl);
    font-weight: var(--font-bold);
    border-radius: var(--default-border-radius);
    background-color: var(--accent-background-color);
    color: var(--on-accent-text-color);
    text-align: center;
}

.post-grid__items {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: var(--default-spacing);
}

.post-grid__item.post-card--active {
    grid-column: span 3;
}
